<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>EDIT YOUR CHATS  : <%= chat._id %></h3>
    <p> this chat was sent from <%= chat.from %> to <%= chat.to %></p>
    <form action="/chats/<%= chat._id%>?_method=PUT" method="POST">
        <textarea name="msg"  ><%= chat.msg %></textarea>
        <br>
        <button>edit</button>
    </form>
</body>
</html>