<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whats'up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>ALL Chats!</h3>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>from: <%= chat.from %></p>
            <div class="msg"> <p><%= chat.msg %></p>
                <form action="/chats/<%= chat._id %>/edit" method="GET">
                    <button>EDIT</button>
                </form>
                <br>
                <form action="/chats/<%= chat._id %>/?_method=DELETE" method="POST">
                    <button>DELETE</button>
                </form>
            </div>
            <p> Recieved by <%= chat.to %></p>
            <hr/>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
            <br>
           
        </div>
       
     <% } %>

     <form action="/chats/new"method="GET">
        <button>NEW CHAT</button>
     </form>
</body>
</html>
